.nav {
  background-color: rgb(37, 0, 50);
  justify-content: space-between;
}

#nav-logo {
  padding: 20px 10px;
}

.right-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#nav-login {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Roboto;
}

#nav-logout {
  padding-top: 4px;
  color: rgb(233, 87, 62);
  text-transform: uppercase;
  text-decoration: none;
  font-family: Roboto;
  font-size: 14px;
}

#nav-profile {
  display: flex;
  align-items: center;
}

#nav-profile-icon {
  color: rgb(233, 87, 62);
}

#nav-profile-link {
  padding-left: 4px;
  color: #ffffff;
  text-decoration: none;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
}
